<template>
<div>
  <hangman-header/>
  <div class="container">
      <div class="row">
        <phrase-display :phrase="game.phrase"
                        :gameOver="game.gameOver"
                        :gameWon="game.gameWon"/>
        <hangman-image :misses="game.misses"/>

      </div>
      <hangman-controls />

  </div>
</div>
</template>

<script>
import Vue from 'vue';

import HangmanImage from './components/HangmanImage.vue';
import PhraseDisplay from './components/PhraseDisplay.vue';
import HangmanHeader from './components/HangmanHeader.vue';
import HangmanControls from './components/HangmanControls.vue';

import VueResource from 'vue-resource';
Vue.use(VueResource);

import { EventBus } from './main';

export default {


  components: {
    'hangman-header': HangmanHeader,
    'hangman-image': HangmanImage,
    'phrase-display': PhraseDisplay,
    'hangman-controls': HangmanControls
  },
  data() {
    return {
      game: {
        phrase: '',
        gameOver: true,
        gameWon: true,
        gameLost: true,
        misses: 0,
        letters: []
      }
    }
  },
  computed: {

  },
  methods: {

  },
  created() {
    EventBus.$on('gameStateChanged', (gameState) => {
      this.game = gameState;
    })
  }
}
// return '/static/images/hangman_'+ game.misses +'.png';
</script>

<style>
  .form-inline {
      display: inline;
  }
</style>
