<template>
  <div class="jumbotron hidden-sm hidden-xs" >
    <div class="container">
      <h1 class="text-center">SpringBoot Hangman</h1>
      <ul class="list-group">
        <li class="list-group-item">Single Page App with VueJS 2</li>
        <li class="list-group-item">Separate UI and Backend-Logic</li>
        <li class="list-group-item">Communication via Rest-API</li>
      </ul>
    </div>
  </div>
</template>

<script>

</script>

<style scoped>

</style>
