<template>
  <div class="row">
          <span v-for="(letter, index) in sortedLetters" >
              <br v-if="index % 6 == 0 && index != 0" />
              <letter-button :letter="letter"
                             :disabled="game.letters[letter] != 'UNUSED' || game.gameOver "
                             :onClick="guessLetter"
              ></letter-button>
          </span>
    <button @click="newGame()"
            class="btn btn-default btn-lg col-xs-4">
      New Game
    </button>
  </div>
</template>

<script>
  import { EventBus } from '../main';
  import LetterButton from './LetterButton.vue';

  export default {


      props: [

      ],
      components: {
          'letter-button': LetterButton
      },
      data() {
          return {
            game: {
              phrase: '',
              gameOver: true,
              gameWon: true,
              gameLost: true,
              misses: 0,
              letters: []
            },
            currentGameUrl: null
          };
      },
      computed: {
        sortedLetters() {
          let keys = Object.keys(this.game.letters);
          keys.sort();
          //console.log(keys);
          return keys;
        }
      },
      methods: {
        guessLetter(event) {
          //console.log(event.target.value);
          const letter = event.target.value;

          let guessUrl = this.currentGameUrl + '/guess/' + letter;
          console.log("sending guess: "+guessUrl);
          this.$http.post(guessUrl).then( res => {
            console.log(res);
          }).then( () => {
            this.$http.get(this.currentGameUrl).then( res => {
              console.log(res.body);
              this.game = res.body;
              EventBus.$emit('gameStateChanged', this.game);
            });
          });

        },
        newGame() {
          let baseUrl= `http://localhost:8082/game`;
          this.$http.post(baseUrl).then( res => {
            console.log(res);
            console.log('Status: '+res.status+" Location-Header: "+res.headers.get('Location'));
            return res.headers.get('Location');
          }).then( location => {
            console.log('Location-Header: '+location);
            this.currentGameUrl = location;
            this.$http.get(location).then( res => {
              console.log(res.body);
              this.game = res.body;
              EventBus.$emit('gameStateChanged', this.game);
            });
          });
        }
      },
      created() {
        this.newGame();
      }
  }
</script>

<style>

</style>
