<template>
  <div class="col-md-4 col-sm-2 col-xs-1">
    <div class="thumbnail">
      <img :src="imageUrl" alt="" class="img-responsive"/>
    </div>
  </div>
</template>

<script>

  export default {
      props: [
          'misses'
      ],
      computed: {
        imageUrl() {
          return '/static/images/hangman_'+ this.misses +'.png';
        },
      }
  }

</script>

<style scoped>

</style>
