<template>
  <button @click="onClick"
          :disabled="disabled"
          class="btn btn-default btn-lg col-xs-2" :value="letter">{{letter}}
  </button>
</template>

<script>
  export default {
      props: [
          'letter', 'disabled', 'onClick'
      ]
  }
</script>

<style>

</style>
