<template>

  <div class="col-md-8 col-sm-10 col-xs-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Phrase:</h3>
      </div>
      <div class="panel-body">
        <h1 class="text-center">{{phrase}}</h1>
      </div>
      <div class="panel-footer" v-if="gameOver">
        <div v-if="gameWon">
          <span>You have won!</span>
        </div>
        <div v-else>
          <span>You have lost!</span>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
      props: [
          'phrase', 'gameOver', 'gameWon'
      ]
  }
</script>

<style scoped>

</style>
