<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Hangman with Spring Boot</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
    <style rel="stylesheet">
        .form-inline {
            display: inline;
        }
    </style>
</head>
<body>

<div class="jumbotron hidden-sm hidden-xs" >
    <div class="container">
        <h1 class="text-center">SpringBoot Hangman</h1>
        <ul class="list-group">
            <li class="list-group-item">Serverside Rendering with Thymeleaf</li>
            <li class="list-group-item">Separate UI and Backend-Logic</li>
            <li class="list-group-item">Communication via Rest-API</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Phrase:</h3>
                </div>
                <div class="panel-body">
                    <h1 th:text="${phrase}" class="text-center"></h1>
                </div>
                <div class="panel-footer" th:if="${gameOver}">
                    <div th:if="${gameWon}">
                        <span>You have won!</span>
                    </div>
                    <div th:if="${gameLost}">
                        <span>You have lost!</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-2 col-xs-1">
            <div class="thumbnail">
                <img th:src="@{'/images/hangman_'+${misses}+'.png'}" alt="" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="row">
        <span th:each="letterEntry,itrStat : ${letters}" >
            <br th:if="${itrStat.index % 6 == 0 and itrStat.index != 0}" />
            <form th:action="@{'/guess/'+${letterEntry.key}}"
                  class="form form-inline"
                  method="POST">
                <button type="submit"
                        th:text="${letterEntry.key}"
                        th:disabled="${letterEntry.value.name() != 'UNUSED' || gameOver }"
                        class="btn btn-default btn-lg col-xs-2">name
                </button>
            </form>
        </span>
        <form th:action="@{/hangman}"
              class="form form-inline"
              method="POST">
            <button type="submit"
                    class="btn btn-default btn-lg col-xs-4">
                New Game
            </button>
        </form>
    </div>

</div>
</body>
</html>